* {
    padding: 0;
    margin: 0;
  }
  
  html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  }

body {
    text-align: center;
}

button {
    background: #413B3B;
    color: #fff;
    font-size: 16px;
    padding: 20px;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
}


.game-over {
    display: grid;
    background: rgba(124, 125, 125, .4);
    position: fixed;
    align-content: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


#game-over {
    height: 400px;
    width: 400px;
    margin-top: -65px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

h1 {
    padding: 55px;
    font-size: 45px;
}

.hidden {
    display: none;
}